@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* For Edge */
    scrollbar-width: none;/* For Firefox */
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Protest Revolution",BadScript, Sacramento, Satisfy, "Fira Sans",Barlow, Cairo, Abel, "Cantora One", "Kay Pho Du", Coda, Spirax,
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  color: #a07628;
}
