.navbar {
  height: 40px;
  width:100px;
  position: absolute;
  display: flex;
  justify-content: left;
  z-index: 19;
  right: -7px;
}

.menu-bars {
  font-size: 26pt;
  background: none;
  width: 34px;
  border-radius: 3px;
  margin-left: 2rem;
  margin-top: 0px;
  align-items: center;
}

.nav-menu {
  background-color: #a7a97e;
  width: 380px;
  height: 60%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 95px;
  right: -100%;
  transition: 850ms;
  z-index: 21;
  border-radius: 10px;
}

.nav-menu.active {
  right: 21px;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 6px 16px;
  list-style: none;
  height: 60px;
  
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  margin: 0 auto;
  font-family: Barlow;
}

.nav-text a:hover {
  background-color: #ceee8a;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #e3e6ab;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 17px;  
  border-radius: 7px;
}

span {
  margin-left: 16px;
}
