#product {
  width: 100%;
  padding: 70px 0;
  background: #efefef;
}

.product-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.product-item {
  text-align: center;
  justify-content: space-around;
  border-radius: 7px;
  margin-bottom: 20px;
  color: white;
  position: relative;
  width: 270px;
}

.product-item img {
  width: 100%;
  border-radius: 7px;
}

.overlay-c {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2px;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgb(234, 249, 212), rgb(191, 220, 137));
  opacity: 0;
  transition: 0.6s;
}

.product-item:hover .overlay-c {
  opacity: 1;
  color: #ffffff;
}

.product-desc {
  width: 90%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 33%);
  transition: 0.6s;
  direction: flex;
}

.product-item:hover .product-desc {
  opacity: 1;
  bottom: 40%;
}

@media screen and (max-width: 770px) {
  .product-item {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .product-desc p {
    font-size: 12px;
  }

  .product-item:hover .product-desc {
    opacity: 1;
    bottom: 30%;
  }
}